{% extends 'base.html.twig' %}

{% block body_id 'projects_project_show' %}

{% block main %}

    <h1>{{ project.title }}</h1>
    <p class="project-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i>{{ project.date | format_datetime('long', 'medium', '', 'UTC') }}</span>
        <span class="metadata"><i class="fa fa-user"></i>{{ post.user.username }}</span>
    </p>

    {{ project.description | markdown_to_html | sanitize_html }}

{% endblock %}