{% extends 'base.html.twig' %}

{% block body_id 'projects_search' %}

{% block main %}
    <!-- Twig stworzony przez Artur Wenda -->
    {{ form(form) }}

    {% if projects is defined %}
        <h2>Found {{ projects|length }} matching results for "{{ query }}"</h2>
        {{ block("main", "projects/index.html.twig") }}
    {% endif %}
{% endblock %}